<!DOCTYPE html>
<html>
<head>
  <title>New Recipe</title>
</head>
<body>
  <h1>New Recipe</h1>
  <form action="/recipes" method="POST">
    <input type="text" name="name" placeholder="Recipe Name" required>
    <textarea name="instruction" placeholder="Instructions"></textarea>
    
    <h2>Ingredients</h2>
    <div>
      <% ingredients.forEach(ingredient => { %>
        <label>
          <input type="checkbox" name="ingredients" value="<%= ingredient._id %>">
          <%= ingredient.name %>
        </label><br>
      <% }) %>
    </div>
    
    <button type="submit">Create Recipe</button>
  </form>
</body>
</html>
