<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a Recipe</title>
  </head>
  <body>
    <form action="/recipes/<%= recipe._id %>/?_method=PUT" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" value="<%= recipe.name %>">

      <label for="instruction">Instruction:</label>
      <textarea name="instruction"><%= recipe.instruction %></textarea>


      <button type="submit">Edit Recipe</button>
    </form>
  </body>
</html>
